*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Fuentes locales */
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/i_pixel_u/I-pixel-u.ttf');
}

@font-face {
    font-family: 'Bai-m';
    src: url('../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf');
}

/* roots y body */
:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #00FF9D;
    --second-color: #a2e7c9;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(178deg, var(--bg-color) 27.11%, var(--main-color) 100.99%);
}

/* Encabezado */
header{
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 54px;
    margin-right: 3px;
}

.logo span {
    font-family: 'Pixel';
    color: var(--text-color);
    font-size: 27px;
    margin: 5px 0 5px 10px;
}

.navbar {
    display: flex;
    font-family: 'Bai-m';
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.social {
    display: flex;
    align-items: center;
}

.social i {
    color: var(--text-color);
    font-size: 30px;
    margin-right: 3px;
}

.main i:hover {
    color: var(--main-color);
    transform: scale(1.5);
    transition: all .3s ease;
}

#menu-icon {
    font-size: 43px;
    color: var(--main-color);
    cursor: pointer;
    z-index: 99;
    display: none;
}

/* Hero */
.home {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 32vw;
    animation: floatImage 4s ease-in-out infinite;
    margin-right: 120px;
}

@keyframes floatImage {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-1.5rem);
    transform: translateY(2.5rem);
    }
    100% {
    transform: translateY(0);
    }
}

.home-content h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 20px 0 20px 10%;
    font-family: 'Pixel';
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
    margin: 20px 0 25px 10%;
    font-family: 'Bai-m';
}

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-left: 10%;
    font-family: 'Bai-m';
}

.btn:hover {
    box-shadow: none;
}

/* Servicios */
div h2 {
    text-align: center;
    font-family: 'Pixel';
    font-size: 38px;
    margin-top: 15%;
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}

.container {
    position: relative;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: skewY(-10deg);
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--bg-color);
    transition: 0.5s;
}

.container .card:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: #92cfb4;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.container .card:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: #92cfb4;
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
    border-bottom: 200px solid #161616;
}

.container .card:hover {
    transform: translateY(-40px);
}

.container .card .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .imgBx img {
    max-width: 120px;
}

.container .card .imgBx h3 {
    position: relative;
    color: var(--bg-color);
    margin-top: 10px;
    font-family: 'Bai-m';
}

.container .card .content-desc {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: 'Bai-m';
}

.container .card .content-desc:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent, transparent, rgba(0,0,0,.1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}

.container .card:hover .content-desc:before{
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
}

.container .card:nth-child(1){
    z-index: 3;
}

.container .card:nth-child(2){
    z-index: 2;
}

.container .card:nth-child(3){
    z-index: 1;
}

/* Nosotros */

/* .container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-us{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card-us:hover{
    width: 350px;
}

.card-us .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card-us .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card-us:hover .cover img{
    top: 0px;
    filter: none;
}

.card-us .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card-us:nth-of-type(1) .img__back{
    background-image: url(../images/bg-card.jpg);
}

.card-us:nth-of-type(2) .img__back{
    background-image: url(../images/bg-card.jpg);
}

.card-us:nth-of-type(3) .img__back{
    background-image: url(../images/bg-card.jpg);
}

.card-us:hover .img__back{
    bottom: -40px;
}

.card-us .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card-us:hover .description{
    padding: 40px;
}

.card-us .description h2{
    margin-top: 10px;
}

.card-us .description p{
    margin-top: 10px;
}

.card-us .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card-us .description input:hover{
    background: #83277b;
} */

/* Breakpoints */

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: all .2s ease;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 100vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }

    .navbar a{
        font-size: 27px;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);

    }
    .navbar.open{
        right: 0;
    }
    .home {
        margin-top: 5px;
    }
    .home-img img {
        margin-right: 20px;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .container {
        justify-content: center;
        gap: 45px;
    }

}

@media (max-width: 768px){
    .social {
        display: none;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 32px;
    }

    .home-content h1 {
        font-size: 43px;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}